.footer__copyright {
    position: absolute;
    width: 425px;
    height: 16px;
    color: #565b87;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    white-space: nowrap;
    margin: 271px 395px 85px 1122px;
}