.reviews__title {
    width: 470px;
    height: 66px;
    margin: 0px 337px 87px 358px;
}

.reviews__title-main {
    color: #648cff;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
}

.reviews__title-second {
    color: #999999;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 202px 0px 202px ;
}